:root {
  /* Base colors */
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-grey: #e5e5e5;
  --basic-light: #f2f2f2;
  --basic-white: #ffffff;
  /* Status colors */
  --status-success: #7db550;
  --status-warning: #fd922e;
  --status-error: #ff5757;
  /* Special colors*/
  --special-cold-dark: #68a2ca;
  --special-cold-light: #83b3d3;
  --special-cold-light-12: rgba(131, 179, 211, 0.12);
  --special-cold-light-20: rgba(131, 179, 211, 0.2);
  --special-neutral-light: #7DB54F;
  --special-neutral-dark: #6C9E42;
  --special-warm-light: #756257;
  --special-warm-dark: #615048;
  /* Shadows */
  --shadow: rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.page-body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  margin: 0;
}

.page-container {
  width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.page-wrapper {
  width: 100%;
  box-shadow: 0px 0px 15px var(--shadow);
}

.page-innner-wrapper {
  width: 100%;
  padding: 0 72px;
}

.navigation {
  width: 100%;
  display: flex;
}

.navigation-link {
  font-weight: 700;
  color: var(--basic-black);
  text-align: center;
  text-decoration: none;
}

.user-navigation .search {
  background-image: url("../images/icons/ic-search.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.user-navigation .favorite {
  background-image: url("../images/icons/ic-favorite.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.user-navigation-item .btn {
  color: var(--basic-white);
  background-color: var(--special-warm-light);
}

.welcome {
  position: relative;
  min-height: 485px;
  background-color: var(--basic-grey);
  background-image: url("../images/welcome/welcome-bg.jpg");
  background-repeat: no-repeat;
  padding: 51px 0 82px 0;
}

.welcome::after {
  display: block;
  content: "";
  width: 100%;
  height: 57px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../images/welcome/welcome-divider.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.welcome-img {
  width: 458px;
  height: 352px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-slogan {
  font-size: 30px;
  line-height: 36px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.advantage-description {
  color: var(--basic-dark);
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantage-title {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantage-number {
  color: var(--basic-black);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.subscription {
  height: 411px;
  background-image: url("../images/offer-image.jpg");
  background-color: var(--basic-dark);
  color: var(--basic-white);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-simple {
  background-image: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.subscription-simple .subscription-description {
  color: var(--basic-dark);
}

.subscription-title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscription-description {
  display: block;
  font-size: 22px;
  text-align: center;
}

.btn {
  color: var(--basic-dark);
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 34px 7px 34px;
  border-radius: 4px;
  border: none;
}

.btn-primary {
  background-color: var(--special-warm-light);
  color: var(--basic-white);
}

.btn-secondary {
  background-color: var(--special-cold-light);
  color: var(--basic-white);
}

.btn-flat {
  background-color: transparent;
}

.btn-size-l {
  font-size: 20px;
  line-height: 36px;
}

.btn-size-m {
  font-size: 16px;
  line-height: 20px;
}

.advantage-home {
  background-image: url("../images/advantages/advantage-item-home.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
}

.advantage-food {
  background-image: url("../images/advantages/advantage-item-food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
}

.advantage-gift {
  background-image: url("../images/advantages/advantage-item-gift.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
}

.social-twitter {
  background-image: url("../images/icons/ic-social-twitter.svg");
  background-repeat: no-repeat;
  background-size: 18px 15px;
}

.social-facebook {
  background-image: url("../images/icons/ic-social-facebook.svg");
  background-repeat: no-repeat;
  background-size: 10px 18px;
}

.social-youtube {
  background-image: url("../images/icons/ic-social-youtube.svg");
  background-repeat: no-repeat;
  background-size: 20px 16px;
}

.footer-phone {
  color: var(--basic-black);
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-logo {
  color: black;
  transition: color 0.350s ease-in-out, opacity 0.350s ease-in-out;
}

.footer-logo:hover {
  color: var(--special-warm-light);
}

.footer-logo:focus {
  color: var(--special-warm-light);
  outline: none;
}

.footer-logo:active {
  opacity: 0.3;
}
