:root {
  /* Base colors */
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-grey: #e5e5e5;
  --basic-light: #f2f2f2;
  --basic-white: #ffffff;
  /* Status colors */
  --status-success: #7db550;
  --status-warning: #fd922e;
  --status-error: #ff5757;
  /* Special colors*/
  --special-cold-dark: #68a2ca;
  --special-cold-light: #83b3d3;
  --special-cold-light-12: rgba(131, 179, 211, 0.12);
  --special-cold-light-20: rgba(131, 179, 211, 0.2);
  --special-neutral-light: #7DB54F;
  --special-neutral-dark: #6C9E42;
  --special-warm-light: #756257;
  --special-warm-dark: #615048;
}
